In [1]:
import pandas as pd
import numpy as np

In [2]:
patent = pd.read_csv("./AI-python-connect/codes/ch_3/part-1/data/sea_managing_raw.csv", encoding="cp949")
patent.head()

,국가코드,DB종류,특허/실용 구분,문헌종류 코드,발명의 명칭,요약,대표청구항,청구항 수,출원번호,출원일,...,Original CPC Main,Original CPC All,Original IPC Main,Original IPC All,Original US Class Main[US],Original US Class All[US],Original FI[JP],Original F-term[JP],Original Theme Code [JP],WIPS ON key
0,US,US,P,B2,Turboengine water wash system,A system for cleaning gas turbine engines is d...,1. An apparatus for cleaning wing mounted gas ...,64,11/644784,2006-12-22,...,NaN,NaN,B08B-009/00,B08B-009/00,134/166.R,134/166.R | 134/138,NaN,NaN,NaN,4.914000e+12
1,US,US,P,A1,TREATMENT OF TAILINGS WITH DEIONIZED SILICATE ...,A process for treating a tailings stream compr...,1. A process for treating a tailings stream co...,20,13/848244,2013-03-21,...,B09B-0003/0025,B09B-0003/0025,B09B-003/00,B09B-003/00,106/627,106/627 | 106/600 | 106/631 | 106/632 | 106/63...,NaN,NaN,NaN,5.414000e+12
2,US,US,P,A1,Method And Apparatus For Treating Tailings Usi...,There is a method described of treating tailin...,1. A method of treating tailings having a comb...,18,13/765924,2013-02-13,...,C02F-0001/48,C02F-0001/48,C02F-001/48,C02F-001/48,204/554,204/554,NaN,NaN,NaN,5.414000e+12
3,US,US,P,A1,METHOD FOR STABILIZING WASTE AND HAZARDOUS WASTE,The invention provides a process for stabilizi...,"1. A method for stabilizing hazardous waste, c...",20,13/767408,2013-02-14,...,A62D-0003/33,A62D-0003/33 | G21F-0009/302,A62D-003/33,A62D-003/33 | G21F-009/30,588/002,588/002 | 588/315,NaN,NaN,NaN,5.414000e+12
4,US,US,P,B2,Water treatment process and plant using ballas...,A method for treating wastewater using a balla...,1. A method of treating wastewater including: ...,18,12/521154,2007-12-26,...,NaN,NaN,C02F-001/52,C02F-001/52 | B01D-021/01 | B01D-021/02 | B01D...,210/709,210/709 | 210/711 | 210/712 | 210/713 | 210/71...,NaN,NaN,NaN,4.913050e+12

In [3]:
patent["출원번호"].isnull().sum()

0

In [7]:
df_patent = patent[["출원번호", "Original US Class All[US]"]]
df_patent.head()

        출원번호                          Original US Class All[US]
0  11/644784                                134/166.R | 134/138
1  13/848244  106/627 | 106/600 | 106/631 | 106/632 | 106/63...
2  13/765924                                            204/554
3  13/767408                                  588/002 | 588/315
4  12/521154  210/709 | 210/711 | 210/712 | 210/713 | 210/71...

In [36]:
df_patent["Original US Class All[US]"].str.split("|", expand = True).fill

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,134/166.R,134/138,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,106/627,106/600,106/631,106/632,106/634,210/702,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,204/554,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,588/002,588/315,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,210/709,210/711,210/712,210/713,210/714,210/724,210/726,210/738,210/739,210/745,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900,075/398,075/399,075/711,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1901,210/688,210/747,210/912,588/001,588/020,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1902,588/257,588/252,405/129,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1903,210/732,210/800,210/808,210/533,210/536,210/537,210/123,210/136,210/241,210/119,...,None,None,None,None,None,None,None,None,None,None
1904,210/605,210/613,210/614,210/625,210/903,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None